{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/tunr.css/' %}" />
  <title></title>
</head>
<body>
  
  <h1>Tunr</h1>
  <nav>
    <a href="/songs/">Songs</a>
    <a href="/songs/new">Add Song</a>
    <a href="/artists/">Artists</a>
    <a href="/artists/new">Add Artist</a>
  </nav>

  {% block content%}

  {% endblock %}
</body>
</html>